<% include ./partials/header %>
    <div class="col-9">
        <div class="row">
            <form action="/process/browserPayment" class="col-12 form-horizontal" method="post">
        <h3>Pay with UnionPay SecurePay</h3>
                <div class="alert alert-warning" role="alert">
                    <p>You can find test cards
                        <a href="<%= baseUrl %>/api/documentation/integrationGuidelines/supportedFeatures/testAndGoLive.html">here</a>.</p>
                </div>
                <fieldset>
                    <input type="hidden" value="<%= orderId %>" name="orderId" />
                    <input type="hidden" value="<%= transactionId %>" name="transactionId" />
                    <input type="hidden" value="<%= apiOperation %>" name="apiOperation" />
                    <input type="hidden" value="<%= apiMethod %>" name="apiMethod" />
                    <input type="hidden" value="<%= sourceType %>" name="sourceType" />
                    <input type="hidden" value="<%= browserPaymentOperation %>" name="browserPaymentOperation" />
                    <input type="hidden" value="<%= returnUrl %>" name="returnUrl" />
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-id">OrderId</label>
                        <div class="col-md-7">
                            <input id="order-id" name="orderID" value="<%= orderId %>" type="text" placeholder="" class="form-control input-md" required=""
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-amount">Amount</label>
                        <div class="col-md-7">
                            <input id="order-amount" name="orderAmount" value="<%= orderAmount %>" type="text" placeholder="" class="form-control input-md"
                                required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-currency">Currency</label>
                        <div class="col-md-7">
                            <input id="order-currency" name="orderCurrency" value="<%= orderCurrency %>" type="text" placeholder="" class="form-control input-md"
                                required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-discription">Description</label>
                        <div class="col-md-7">
                            <input id="order-description" name="description" value="<%= orderDescription %>" type="text" placeholder="" class="form-control input-md"
                                required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="process"></label>
                        <div class="col-md-7">
                            <button id="process" name="process" class="btn btn-primary">Pay with SecurePay</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- row -->
    </div>
    </div>
    </div>
    </body>

    </html>