<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <title>
        Gateway NodeJS Sample
    </title>
    <!-- CREATE THE HTML FOR THE PAYMENT PAGE -->
    <style id="antiClickjack">
        #paymentpage {
            display: none !important;
        }
    </style> 

</head>

<body>
    <div class="jumbotron text-center">
        <div class="container">
            <h1 href="/">Gateway NodeJS Sample Code</h1>
            <p>This set contains working example code to help you integrate your application into the payment gateway. Below
                are the transaction types covered in this example.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3 sidebar">
                <% include ./menus %>
            </div>