<div class="col-12">
    <h6>
        <a href="/pay">Pay</a>
    </h6>
    <h6>
        <a href="/authorize">Authorize</a>
    </h6>
    <h6>
        <a href="/capture">Capture</a>
    </h6>
    <h6>
        <a href="/refund">Refund</a>
    </h6>
    <h6>
        <a href="/void">Void</a>
    </h6>
    <h6>
        <a href="/verify">Verify</a>
    </h6>
    <h6>
        <a href="/retrieve">RetrieveOrder</a>
    </h6>
    <h6>
        <a href="/process/hostedCheckout">HostedCheckout</a>
    </h6>
    <h6>
        <a href="/secureId">pay With 3DS</a>
    </h6>
    <!--<essentials_exclude>-->
    <!--<targeted_exclude>-->
    <h6>
        <a href="/paypal">PayPal</a>
    </h6>
    <!--</targeted_exclude>-->
    <!--</essentials_exclude>-->
    <!--<essentials_exclude>-->
    <h6>
        <a href="/unionpay">UnionPay</a>
    </h6>
    <!--</essentials_exclude>-->
    <!--<essentials_exclude>-->
    <h6>
        <a href="/masterpass">Masterpass</a>
    </h6>
    <!--</essentials_exclude>-->
    <h6>
        <a href="/payThroughNVP">PayThroughNVP</a>
    </h6>
    <h6>
        <a href="/payWithToken">PayWithToken</a>
    </h6>

    <h6>
        <a href="/webhooks">Webhooks</a>
    </h6>
</div>